.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  border: 2px dotted blue;
  padding-left: 5px;
  padding-right: 5px;
}

.itemSelected {
  border: 2px dotted red;
}

.item:hover {
  cursor: pointer;
}

.beerList {
  text-decoration: none;
  padding-left: 0;
}

.name {
  text-decoration: underline;
  font-weight: 800;
}

.link {
  text-decoration: none;
  color: inherit;
}
